<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>


<form action="/dojos" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

Branch: <input type="text" name="dojo[branch]"><br><br>
Street: <input type="text" name="dojo[street]"><br><br>
City: <input type="text" name="dojo[city]"><br><br>
State: <input type="text" name="dojo[state]"><br><br>
<input type="submit" value="Create">
</form>

<a href="/dojos">Home</a>
